
    <p-treeTable
        [value]="data" 
        [columns]="cols" 
        [paginator]="true" 
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{'min-width':'50rem'}"
        currentPageReportTemplate="Mostrando de {first} al {last} de un total de {totalRecords} entradas"
        [rowsPerPageOptions]="[5,10,20]"
        [scrollable]="true" 
        >
        <ng-template pTemplate="caption">
            <div class="flex flex-row flex-wrap card-container blue-container ng-star-inserted">
                <div class="col-6 p-0">
                    <app-buttons-general [buttons]="['btn_export_full', 'btn_export_excel', 'btn_export_text', 'btn_export_pdf']"></app-buttons-general> 
                </div>
                <div  class="col-6 p-0 flex align-items-center justify-content-end">
                    <span class="p-input-icon-left w-7">
                        <i class="pi pi-search"></i>
                        <input  pInputText type="text" class="p-inputtext p-component p-element w-full input-search-table" placeholder="Search" />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th  *ngFor="let col of columns" style="text-align: left;" >
                    {{ col.header }}
                </th>
                <th style="text-align: center; width: 120px">
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode">
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                    <ng-container *ngIf="col.field === 'active'">
                        <i class="pi" [ngClass]="{
                            'text-green-500 pi-check-circle': rowData[col.field] === 1,
                            'text-pink-500 pi-times-circle': rowData[col.field] === 2}">
                        </i>
                    </ng-container>
                    <ng-container *ngIf="col.field === 'favorite'">
                        <i class="pi" [ngClass]="{
                            'text-pink-500 pi-star': rowData[col.field] === 1}">
                        </i>
                    </ng-container>
                    <span *ngIf="col.field !== 'active' && col.field !== 'favorite'">
                        {{ rowData[col.field] }}
                    </span>
                </td>
                
                <td style="text-align: center; width: 120px">
                    <app-buttons-general 
                        [datatable]="true" 
                        [buttons]="buttonsDatatable" 
                        (runActions)="runActions($event)" 
                        [dataDatatable]="rowData"
                        [arrayDisabled]="rowData.hiddenButtons">
                    </app-buttons-general>
                </td>
            </tr>
        </ng-template>  
    </p-treeTable>
