<div class="card">
    <app-header-card 
        [title]="'Causas accidentes'" 
        [buttons]="buttonsGenerals" 
        (actionNew)="actionNew()" 
        (actionPrint)="actionPrint($event)">
    </app-header-card>
    <app-tree-table-general  
        [data]="data" 
        [cols]="colums" 
        (onAction)="onAction($event)" 
        [buttonsDatatable]="buttonsDatatable"
        [loading]="loading">
    </app-tree-table-general>
    <app-new-class-cause-modal
        *ngIf="displayModal"
        [displayModal]="displayModal"
        [id]="idEdit"
        [listName]="title"
        [level]="level"
        [action]="action"
        [fatherName]="fatherName"
        [sonName]="sonName"
        [fatherId]="fatherId"
        (modalResponse)="modalResponse($event)"
    ></app-new-class-cause-modal>
</div>

