<app-modal-general [displayModal]="displayModal" [title]="title" (closeModal)="closeModal($event)">
    <form name="frm" id="frm" [formGroup]="frm">
        <div class="col-12 sm:col-12 md:col-12 lg:col-12">
            <div class="grid m-0">
                <div class="grid col-12 md:col-12">
                    <!-- Estado -->
                    <div class="col-12 sm:col-12 md:col-12 lg:col-12">
                        <div class="field mb-0">
                            <label for="activo">Activo</label>
                        </div>
                        <div class="field">
                            <p-inputSwitch formControlName="activo" id="activo" name="activo" class="w-full"
                                [(ngModel)]="frm.value.activo"></p-inputSwitch>
                        </div>
                    </div>
                    <!-- END Estado -->
                </div>
                <div class="grid col-12 md:col-12">
                    <!-- Código -->
                    <div class="col-12 sm:col-12 md:col-3 lg:col-3">
                        <div class="field form-group">
                            <label for="codigo" class="m-0">Código</label>
                            <div class="p-inputgroup mt-2"> <!-- [patterns]="codePatterns" mask="0*" -->
                                <input pInputText maxlength="10"
                                    formControlName="codigo" id="codigo" name="codigo" type="text" />
                            </div>
                        </div>
                    </div>
                    <!-- END Código -->
                    <!-- nombre -->
                    <div class="col-12 sm:col-12 md:col-9 lg:col-9">
                        <div class="field form-group">
                            <label for="nombre" class="m-0">Nombre</label>
                            <div class="p-inputgroup mt-2">
                                <input pInputText placeholder="Nombre" maxlength="50" name="nombre" formControlName="nombre"
                                    id="nombre" type="text" />
                            </div>
                        </div>
                    </div>
                    <!-- END nombre -->
                </div>
                <div class="grid col-12 md:col-12">
                    <!-- descripcion -->
                    <div class="col-12 sm:col-12 md:col-12 lg:col-12">
                        <div class="field form-group">
                            <label for="descripcion" class="m-0">Descripción</label>
                            <div class="p-inputgroup mt-2">
                                <textarea style="min-height: 100px;" id="descripcion" placeholder="Descripción"
                                    name="descripcion" formControlName="descripcion" pInputText type="text"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- END descripcion -->
                    <!-- favorito -->
                    <div class="col-12 sm:col-12 md:col-12 lg:col-12">
                        <div class="field mb-0">
                            <label for="favorito">Favorito</label>
                        </div>
                        <div class="field">
                            <p-inputSwitch formControlName="favorito" id="favorito" name="favorito" class="w-full"
                                [(ngModel)]="frm.value.favorito"></p-inputSwitch>
                        </div>
                    </div>
                    <!-- END favorito -->
                </div>
            </div>
        </div>
    </form>
</app-modal-general>