<div class="card">
    <app-header-card [title]="title" [buttons]="buttons" (actionNew)="create()" (actionPrint)="print()" />
    <div *ngIf="!loading">
        <app-table-general #table [endPoint]="endPoint + '/pageable'" 
            [columns]="columnsTable" 
            [typeList]="typeList"
            (runActions)="runActions($event)" 
            (exportAction)="export($event)" 
            (exportDataInput)="setExportDataInput($event)" />
        <app-element-list-modal *ngIf="displayModal" 
            [listName]="title" 
            [displayModal]="displayModal" 
            [id]="idEdit" 
            [endPoint]="endPoint"
            [typeList]="typeList"
            (modalResponse)="modalResponse($event)" />
        <app-exporter *ngIf="displayModalExport" [displayModal]="displayModalExport" [title]="title" [viewer]="false" [fileType]="fileType" [url]="endPointExport" [module]="module" [inputExport]="inputExport" [exportValues]="exportValues" [values]="values" (modalExportResponse)="modalExportResponse($event)"></app-exporter>
        <app-report-previewer #reportPreviewer [endpoint]="endPointExport" [printData]="printData" [title]="title"></app-report-previewer>
    </div>
</div>