<div class="card">
    <app-header-card [title]="title" [buttons]="buttons" (actionNew)="create()"
        (actionPrint)="print()" />
    <app-table-general #table [endPoint]="endPoint + '/page'" [columns]="columnsTable" (runActions)="runActions($event)" (exportAction)="export($event)" (exportDataInput)="setExportDataInput($event)" />
    <app-element-list-modal *ngIf="displayModal" [listName]="title" [displayModal]="displayModal" [id]="idEdit" [endPoint]="endPoint"
        (modalResponse)="modalResponse($event)"  [addTypeInjuryAgent]="addTypeInjuryAgent" [addWorth]="addWorth"/>

    <app-exporter *ngIf="displayModalExport" [displayModal]="displayModalExport" [title]="titleExport" [viewer]="false" [fileType]="fileType" [url]="endPointExport" [module]="module" [inputExport]="inputExport" [exportValues]="exportValues" [values]="values" (modalExportResponse)="modalExportResponse($event)"></app-exporter>
</div>