<div class="flex">
    <div class="flex-1">
        <p-autoComplete [(ngModel)]="inputModel" (onSelect)="selectItem($event)" field="valor_montar" placeholder="{{placeholder}}" (onClear)="clearSelectedItem.next($event)"
            [suggestions]="suggestions" (completeMethod)="search($event)" styleClass="autocomplete-w-100" [inputStyleClass]="'autocomplete-w-100'" appendTo="body" />
    </div>
    <div class="ml-auto p-0">
        <p-button (click)="openAdvanced.next(true)" *ngIf="advanced" icon="pi pi-search" class="p-button-success" />
    </div>

</div>