<app-modal-general [displayModal]="displayModal" [title]="title" [isLoading]="isLoading"
    (closeModal)="closeModal($event)" [widthVwModal]="'30vw'">

    <form name="frm" id="frm" [formGroup]="frm">
        <div class="grid m-0">
            <!-- Estado -->
            <div class="grid col-12 m-0 mt-2 p-0">
                <label for="active" class="form-label md:col-3">Activo</label>
                <div class="md:col-9">
                    <p-inputSwitch formControlName="active" id="activo" name="active" class="w-full"
                        [(ngModel)]="frm.value.active"></p-inputSwitch>
                </div>
            </div>
            <!-- END Estado -->

            <!-- Código -->
            <div class="grid col-12 m-0 p-0">
                <label for="codigo" class="form-label md:col-3">Código</label>
                <div class="p-inputgroup md:col-9 field-container">
                    <input pInputText placeholder="Código" maxlength="10" formControlName="code" id="code"
                        name="code" type="text" />
                    <app-validation-message class="validation-message"
                        [control]="frm.get('code')"></app-validation-message>
                </div>
            </div>
            <!-- END Código -->

            <!-- nombre -->
            <div class="grid col-12 m-0 p-0">
                <label for="nombre" class="form-label md:col-3">Nombre</label>
                <div class="p-inputgroup md:col-9 field-container">
                    <input pInputText placeholder="Nombre" maxlength="50" name="name" formControlName="name"
                        id="name" type="text" />
                    <app-validation-message class="validation-message"
                        [control]="frm.get('name')"></app-validation-message>
                </div>
            </div>
            <!-- END nombre -->

            <!-- tipo peligro -->
            <div class="grid col-12 m-0 p-0">
                <label for="tipo" class="form-label md:col-3">Tipo</label>
                <div class="p-inputgroup md:col-9 field-container">
                    <p-dropdown [style]="{width: '100%'}" styleClass="p-dropdown-default" [options]="dangersList"
                        formControlName="dangersList" optionLabel="nombre" optionValue="id" [showClear]="false"
                        placeholder="Tipo"></p-dropdown>
                    <app-validation-message class="validation-message"
                        [control]="frm.get('dangersList')"></app-validation-message>
                </div>
            </div>
            <!-- END tipo peligro -->

            <!-- descripcion -->
            <div class="grid col-12 m-0 p-0">
                <label for="description" class="form-label md:col-3">Descripción</label>
                <div class="p-inputgroup md:col-9 field-container">
                    <textarea style="min-height: 60px;" id="description" placeholder="Descripción"
                        name="description" formControlName="description" pInputText type="text"></textarea>
                    <app-validation-message class="validation-message"
                        [control]="frm.get('description')"></app-validation-message>
                </div>
            </div>
            <!-- END descripcion -->
        </div>
    </form>

</app-modal-general>